@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table Styles */
.td-truncate {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-truncate:hover {
    white-space: normal;
    overflow: visible;
}